.modelBackground {
  width: 100vw;
  height: 100vh;
  background-color: #00000020;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  top: 0;
  backdrop-filter: blur(1px);

  .modelContainer {
    width: 460px;
    height: "100%";
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    border-top-left-radius: 35px;

    .topView {
      flex-direction: row;
      justify-content: space-between;
      display: flex;
      align-items: center;

      .searchfiltertext {
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        color: #182135;
      }

      .buttonView {
        height: 48px;
        width: 48px;
        border-radius: 10px;
        background-color: #f7f7f7;
        border: 0;
      }

      .buttonView:hover {
        background-color: #503e9d;
        color: #fff;
      }
    }

    .second-view {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 40px;

      .sort-text {
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        color: #182135;
      }

      .text {
        margin-top: 20px;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        color: #182135;
      }

      .first-filter {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .fire {
          width: 48px;
          height: 48px;
          margin-right: 20px;
          background-color: rgba(251, 109, 58, 0.1);
          border-radius: 9px;
          align-items: center;
          justify-content: center !important;
          display: flex;

          .fire-image {
            height: 30px;
            width: 30px;
            border-radius: 30px;
          }
        }

        p {
          margin: 0;
        }
      }

      .Cuisine-box {
        height: 40px;
        padding: 20px;
        border-radius: 6px;
        background-color: rgba(251, 109, 58, 0.1);
        align-items: center;
        display: flex;
        justify-content: center;
        margin-right: 15px;
        cursor: pointer;

        .open-text {
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
          color: #fb6d3a;
          margin: 0 !important;
        }
      }

      .Cuisine-box1 {
        height: 40px;
        padding: 20px;
        border-radius: 6px;
        background-color: #f7f7f7;
        align-items: center;
        display: flex;
        justify-content: center;
        margin-right: 15px;
        cursor: pointer;

        .open-text {
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #626264;
          margin: 0 !important;
        }
      }

      .Cuisine-box1:hover {
        background-color: rgba(251, 109, 58, 0.1);
        color: #fb6d3a;

        .open-text:hover {
          color: #fb6d3a;
        }
      }

      .filter {
        flex-direction: "row";
        display: flex;
      }

      .filter1 {
        flex-direction: "row";
        display: flex;
        margin-top: 15px;
      }
    }

    .last-btn {
      bottom: 0;
      position: fixed;
      margin-bottom: 30px;

      .apply-btn {
        height: 55px;
        width: 416px;
        border-radius: 12px;
        background-color: #503e9d;
        border-radius: 10px;
        align-items: center;
        justify-content: center;
        display: flex;
        border: none;
        cursor: pointer;
      }

      .apply-filter {
        margin: 0 !important;
        color: #fff;
        font-size: 15px;
        letter-spacing: 1.3px;
        font-weight: 700;
        font-size: 20px;
        line-height: 32px;
        text-align: center;
        color: #f7fafc;
      }
    }
  }
}